header {
  font-family: 'Abril Fatface', cursive;
}

#container {
  visibility: hidden;
}

.text-muted {
margin: 20px 0;
}

.text-muted {
  font-size: 20px;
}

a {
  transition: color .3s;
  color: rgb(146, 135, 135);
}

a:hover {
  color: rgb(44, 96, 194);
}

.nav-bar-text {
  width: 80%;
  margin: auto;
}

.navbar-brand-expand {
  margin-left: left;
  font-size: 30px;
}

.navbar-toggler-expand {
  float:right;
  margin-top: 7px;
  margin-bottom: 7px;
}

.navbar-expand-mv {
  background-color:#bd2130;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;

}

.card-expand {
  padding-top: 100px;
}

.card-style {
  width: 80%;
  margin: auto;
}

.border-none {
  border-style: none;
}

.card-title-expand {
  font-size: 30px;
}

.text-expand {
  font-family: 'Kulim Park', sans-serif;
}

h5 {
  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
}

.yellow {
  color: rgb(226, 215, 55);
}

.pink {
  color: rgb(199, 38, 214);
}

.orange {
  color: rgb(214, 79, 38);
}

.green {
  color: rgb(46, 212, 129);
}

.pureblue {
  color: rgb(38, 188, 214);
}

.navy {
  color: rgb(10, 15, 87);
}

.black {
  color: rgb(57, 60, 68);
}

.red-orange {
  color: rgb(201, 94, 24);
}

.blue {
  color: rgb(11, 43, 224);
}

.dark-dreen {
  color: rgb(52, 71, 39);
}

.gray {
  color: #6c757d;
}